
</section>
<div class="logo-contenedor">
    <img class="logo" src="/images/logo.png" alt="">
    <h3 id="textFooter">© 2023 ElNovioDeGabrielaEsInfiel™. All Rights Reserved.</h3>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/funciones.js"></script>
</body>
</html>